.reports-container {
    display: flex;
    align-items: center;
}

.reports, .send-info {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-left: 10px;
    margin-top: 10px;
    max-height: 200px; 
    overflow-y: auto;
    max-width:688px;
    width: 100%;
    min-width: 688px;
    
    text-align: left;
}

.reports div, .send-info div {
    margin-bottom: 5px;
}

.status-message {
   
    line-height: 1; 
}